.sidebar h4 {
  text-align: center;
  margin: 0;
}

.sidebar ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin: 20px auto;
  padding: 0;
}

.sidebar ul li {
  font-size: 18px;
  list-style: none;
  cursor: pointer;
  margin: 0 auto;
}

.active {
  font-weight: bold;
}
